boto3
botocore
awscli
ipywidgets
langchain
langchain-aws
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
pypdf
evaluate
requests
xmltodict
numpy
pandas
streamlit
llama-index
llama-index-core
llama-index-llms-langchain
llama-index-embeddings-langchain
llama-index-vector-stores-faiss
