boto3>=1.34.107
awscli>=1.32.72
Pillow==9.4.0
streamlit==1.27.0
streamlit-chat==0.1.1
faiss-cpu>=1.8,<2
unstructured>=0.10.16
SQLAlchemy>=2.0.29
llama-index>=0.10.33
xmltodict==0.13.0
langchain>=0.1.17
langchain-aws>=0.1.2
langgraph>=0.0.49
langsmith>=0.1.59
langchain-anthropic>=0.1.11
langchain-aws>=0.1.4
evaluate>=0.4.2
langchain-community>=0.0.36
pypdf>=4.2.0
evaluate>=4.2.0
