boto3>=1.28.79
botocore>=1.31.79
Pillow==9.4.0
streamlit==1.30.0
streamlit-chat==0.1.1
langchain==0.0.323
faiss-cpu>=1.7,<2
unstructured==0.10.16
SQLAlchemy==2.0.21
llama-index==0.9.0
xmltodict==0.13.0