boto3==1.37.18
opensearch-py
botocore
awscli
retrying
ragas>=0.1.9,<0.2.0
ipywidgets
iprogress
langchain
langchain_aws
langchain-core
langchain_community
s3fs
requests
pypdf
tqdm
pandas
haystack-ai
events