.App {
  text-align: center;
}

.token-textbox {
  width: 400px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  overflow: auto; /* Add scrollbars if the content exceeds the dimensions */
  border: 1px solid #ccc; /* Add a border for better visibility 
  padding: 8px; /* Add some padding for better readability 
  font-family: monospace; /* Use a monospace font for better token formatting */
  overflow-wrap: break-word; /* Enable word wrapping */
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

